:root {
  --dark-blue: #001ebb;
  --white: #fff;
  --black: #191b1b;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100000px;
}

.header {
  background-color: var(--dark-blue);
  padding: 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 10px 10px 1.2px rgba(0, 0, 0, 0.340);
}

.header .nav {
  width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav .links {
  list-style-type: none;
  width: 44%;
  display: flex;
  justify-content: space-between;
}

.header .nav .links .link {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 1.24rem;
}

.header .nav .links .link::after {
  content: "";
  position: relative;
  display: block;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--black);
  transition: 280ms all;
  visibility: hidden;
}

.header .nav .links .link:hover::after {
  visibility: visible;
}

.header .nav .links .link .fas {
  margin-right: 2px;
}

.header .nav .logo h2 {
  margin: 0;
  text-transform: uppercase;
  word-spacing: 8px;
  color: var(--white);
}

.landing {
  background-color: var(--black);
  color: var(--white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .introduction {
  text-align: center;
}

.landing .introduction h1{
  font-size: 3rem;
}

.landing .introduction span {
  color: var(--dark-blue);
}

.landing .introduction p {
  font-size: 1.5rem;
  margin-bottom: 4.2rem;
}

.landing .introduction button {
  padding: 15px 44px;
  background-color: var(--dark-blue);
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  border: 2px solid var(--dark-blue);
}

.landing .introduction button:hover {
  background-color: var(--black);
  border: 2px solid var(--dark-blue);
  color: var(--white);
}