:root {
  --dark-orange: #ce8600;
  --white: #fff;
  --black: #191b1b;
  --dark-gray: rgb(160, 160, 160);
  --dead-orange: #201a13;
  --orange: rgb(255, 166, 0);
  --light-black: #2e3031;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100000px;
}

.header {
  background-color: var(--dark-orange);
  padding: 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 10px 10px 1.2px rgba(0, 0, 0, 0.340);
  background-image: linear-gradient(to left, rgb(236, 161, 0), rgb(173, 127, 0), rgb(122, 69, 0));
  z-index: 1;
}

.header .nav {
  width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav .links {
  list-style-type: none;
  width: 44%;
  display: flex;
  justify-content: space-between;
}

.header .nav .links .link {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 1.24rem;
}

.header .nav .links .link::after {
  content: "";
  position: relative;
  display: block;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  transition: 280ms all;
  visibility: hidden;
}

.header .nav .links .link:hover::after {
  visibility: visible;
}

.header .nav .links .link .fas {
  margin-right: 2px;
}

.header .nav .logo h2 {
  margin: 0;
  text-transform: uppercase;
  word-spacing: 8px;
  color: var(--white);
}

.header .nav .logo h2 a {
  text-decoration: none;
  color: var(--white);
}

.landing {
  background-color: var(--black);
  color: var(--white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .introduction {
  text-align: center;
}

.landing .introduction h1{
  font-size: 3.8rem;
}

.landing .introduction span {
  color: var(--orange);
}

.landing .introduction p {
  font-size: 1.5rem;
  margin-bottom: 4.2rem;
}

.landing .introduction button {
  padding: 15px 44px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  border: 2px solid var(--dark-orange);
  background-image: linear-gradient(to left, rgb(236, 161, 0), rgb(173, 127, 0), rgb(122, 69, 0));
}

.landing .introduction button:hover {
  background-color: var(--black);
  border: 2px solid var(--dark-orange);
  color: var(--white);
  background-image: none;
}

.about {
  background-color: var(--dead-orange);
  padding: 4.6rem;
}

.about .container {
  width: 80%;
  margin: auto;
}

.about .container h2 {
  margin: 0;
  font-size: 2.6rem;
  text-align: center;
  padding-bottom: 32px;
  position: relative;
  color: var(--white);
}

.about .container h2 span {
  color: var(--orange);
}

.about .container h2::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 50px;
  left: 0px;
  width: 41%;
  height: 3px;
  background-color: var(--dark-gray);
}

.about .container h2::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 50px;
  right: 0px;
  width: 41%;
  height: 3px;
  background-color: var(--dark-gray);
}

.about .container .me {
  display: flex;
  justify-content: space-between;
}

.about .container .me p {
  font-size: 1.5rem;
  line-height: 1.48;
  width: 680px;
  text-align: justify;
  color: var(--dark-gray);
}

.about .container .me img {
  border: 2.2px solid var(--orange);
}

.about .container .me p span {
  display: inline-block;
  margin-top: 22px;
}

.about .container .me img {
  border-radius: 50% 50%;
}

.skills {
  background-color: var(--black);
  padding: 4.6rem;
}

.skills .container {
  width: 80%;
  margin: auto;
}

.skills .container h2 {
  margin: 0;
  font-size: 2.6rem;
  text-align: center;
  padding-bottom: 48px;
  position: relative;
  color: var(--white);
}

.skills .container h2 span {
  color: var(--orange);
}

.skills .container h2::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 65px;
  left: 0px;
  width: 41%;
  height: 3px;
  background-color: var(--dark-gray);
}

.skills .container h2::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 65px;
  right: 0px;
  width: 41%;
  height: 3px;
  background-color: var(--dark-gray);
}

.skills .container .my-skills {
  display: flex;
  justify-content: space-between;
}

.skills .container .my-skills .skill-card {
  background-color: var(--light-black);
  padding: 28px;
  flex: 0 1 30%;
  border-radius: 2px;
}

.skills .container .my-skills .title h3 {
  display: inline-block;
  font-size: 1.8rem;
  margin-right: 6px;
}

.skills .container .my-skills .title .fas {
  color: var(--orange);
  font-size: 2rem;
}

.skills .container .my-skills .title h3,
.skills .container .my-skills .content .item span {
  color: var(--white);
  font-size: 1.2rem;
}

.skills .container .my-skills .content .item {
  margin: 14px;
}